@color1: #703a2f;
@color2: #a9ab4b;
@color3: #d2d459;
@color4: #c9d5d6;

@font-face {
    font-family: 'Monda';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/monda-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: EnvyCodeR;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Envy Code R.ttf');
}

* {
    box-sizing: border-box;
    font-family: Monda;
    font-size: 120%;
}

section.slide {
}

.slide pre {
    border: 0;
    margin-top: 0;
    padding-top: 0;
}

.centered {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.pull-left {
    display: inline-block;
    float: left;
}

.pull-right {
    float: right;
}

.deck-current ul.note {
    display: none;
}

.highlight {
    background-color: #F2F5A9;
    font-size: 100%;
}

.slide pre.cli {
    background-color: #000000;
    bottom: 0;
    color: #ffffff;
    font-family: EnvyCodeR;
    font-size: 100%;
    left: 0;
    margin: 0 inherit;
    padding: 0 2.5em;
    position: absolute;
    right: 0;
    top: 0;
}

section.slide pre.cli * {
    font-family: EnvyCodeR;
    font-size: 100%;
}

.slide {
    background-color: @color4;
    border-bottom: 2em solid @color1;
    border-top: 1.5em solid @color1;
    margin-bottom: -2.1em;
}

.deck-status,
.slide::after {
    bottom: 3px;
    color: @color2;
    font-size: 120%;
    position: fixed;
    z-index: 9;
}

.deck-status {
    right: 1em;
    z-index: 9;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.slide.title::after {
    content: "";
}

.slide::after {
    content: "Building Rock Solid Software";
    left: 1em;
}

.slide.title .container {
    background-image: url(images/rocks.jpg);
    background-size: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
}

.slide.title .title-text {
    font-size: 180%;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 50%;
}

.title-highlight {
    color: @color2;
}

.slide.title .subtitle {
    bottom: 0;
    left: 50%;
    position: absolute;
    text-align: center;
    width: 50%;
}

.slide.about-me {
    background-color: #000000;
    color: @color2;
}

.slide.about-me .container {
    background-image: url(images/omni-simpson.jpg);
    background-size: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
}

.slide.about-me .pull-right {
    font-size: 180%;
    position: absolute;
    right: 0;
    top: 50%;
    width: 50%;
}

.slide img {
    .centered();
    height: 600px;
}

.phpmd .logo {
    height: 100px;
    top: 60px;
}

.phpmd .mess {
    height: 500px;
    top: 80px;
    -webkit-transform: translate(-50%, 10%);
}
